.u-pointer{
    cursor: pointer; }

.u-uppercase {
    text-transform: uppercase !important; }

.u-lowercase {
    text-transform: lowercase !important; }

.u-capitalize {
    text-transform: capitalize !important; }

.u-normalcase {
    text-transform: none !important; }

.u-underline {
    text-decoration: underline !important; }

.u-line-through {
    text-decoration: line-through !important; }

.u-ft-13{
    font-size: 13px; }

.u-m0 {
    margin: 0 !important; }

.u-m-auto {
    margin: auto !important; }

.u-mt-0 {
    margin-top: 0px !important; }

.u-mt-5 {
    margin-top: 5px !important; }

.u-mt-10 {
    margin-top: 10px !important; }

.u-mt-15 {
    margin-top: 15px !important; }

.u-mt-20 {
    margin-top: 20px !important; }

.u-mt-25 {
    margin-top: 25px !important; }

.u-mt-30 {
    margin-top: 30px !important; }

.u-mt-35 {
    margin-top: 35px !important; }

.u-mt-40 {
    margin-top: 40px !important; }

.u-mt-45 {
    margin-top: 45px !important; }

.u-mt-50 {
    margin-top: 50px !important; }

.u-mt-55 {
    margin-top: 55px !important; }

.u-mt-60 {
    margin-top: 60px !important; }

.u-mr-0 {
    margin-right: 0px !important; }

.u-mr-5 {
    margin-right: 5px !important; }

.u-mr-10 {
    margin-right: 10px !important; }

.u-mr-15 {
    margin-right: 15px !important; }

.u-mr-20 {
    margin-right: 20px !important; }

.u-mr-25 {
    margin-right: 25px !important; }

.u-mr-30 {
    margin-right: 30px !important; }

.u-mr-35 {
    margin-right: 35px !important; }

.u-mr-40 {
    margin-right: 40px !important; }

.u-mr-45 {
    margin-right: 45px !important; }

.u-mr-50 {
    margin-right: 50px !important; }

.u-mr-55 {
    margin-right: 55px !important; }

.u-mr-60 {
    margin-right: 60px !important; }

.u-mb-0 {
    margin-bottom: 0px !important; }

.u-mb-5 {
    margin-bottom: 5px !important; }

.u-mb-10 {
    margin-bottom: 10px !important; }

.u-mb-15 {
    margin-bottom: 15px !important; }

.u-mb-20 {
    margin-bottom: 20px !important; }

.u-mb-25 {
    margin-bottom: 25px !important; }

.u-mb-30 {
    margin-bottom: 30px !important; }

.u-mb-35 {
    margin-bottom: 35px !important; }

.u-mb-40 {
    margin-bottom: 40px !important; }

.u-mb-45 {
    margin-bottom: 45px !important; }

.u-mb-50 {
    margin-bottom: 50px !important; }

.u-mb-55 {
    margin-bottom: 55px !important; }

.u-mb-60 {
    margin-bottom: 60px !important; }

.u-ml-0 {
    margin-left: 0px !important; }

.u-ml-5 {
    margin-left: 5px !important; }

.u-ml-10 {
    margin-left: 10px !important; }

.u-ml-15 {
    margin-left: 15px !important; }

.u-ml-20 {
    margin-left: 20px !important; }

.u-ml-25 {
    margin-left: 25px !important; }

.u-ml-30 {
    margin-left: 30px !important; }

.u-ml-35 {
    margin-left: 35px !important; }

.u-ml-40 {
    margin-left: 40px !important; }

.u-ml-45 {
    margin-left: 45px !important; }

.u-ml-50 {
    margin-left: 50px !important; }

.u-ml-55 {
    margin-left: 55px !important; }

.u-ml-60 {
    margin-left: 60px !important; }

.u-m-0 {
    margin: 0px !important; }

.u-m-5 {
    margin: 5px !important; }

.u-m-10 {
    margin: 10px !important; }

.u-m-15 {
    margin: 15px !important; }

.u-m-20 {
    margin: 20px !important; }

.u-m-25 {
    margin: 25px !important; }

.u-m-30 {
    margin: 30px !important; }

.u-m-35 {
    margin: 35px !important; }

.u-m-40 {
    margin: 40px !important; }

.u-m-45 {
    margin: 45px !important; }

.u-m-50 {
    margin: 50px !important; }

.u-m-55 {
    margin: 55px !important; }

.u-m-60 {
    margin: 60px !important; }

.u-p0 {
    padding: 0 !important; }

.u-pt-0 {
    padding-top: 0px !important; }

.u-pt-5 {
    padding-top: 5px !important; }

.u-pt-10 {
    padding-top: 10px !important; }

.u-pt-15 {
    padding-top: 15px !important; }

.u-pt-20 {
    padding-top: 20px !important; }

.u-pt-25 {
    padding-top: 25px !important; }

.u-pt-30 {
    padding-top: 30px !important; }

.u-pt-35 {
    padding-top: 35px !important; }

.u-pt-40 {
    padding-top: 40px !important; }

.u-pt-45 {
    padding-top: 45px !important; }

.u-pt-50 {
    padding-top: 50px !important; }

.u-pt-55 {
    padding-top: 55px !important; }

.u-pt-60 {
    padding-top: 60px !important; }

.u-pr-0 {
    padding-right: 0px !important; }

.u-pr-5 {
    padding-right: 5px !important; }

.u-pr-10 {
    padding-right: 10px !important; }

.u-pr-15 {
    padding-right: 15px !important; }

.u-pr-20 {
    padding-right: 20px !important; }

.u-pr-25 {
    padding-right: 25px !important; }

.u-pr-30 {
    padding-right: 30px !important; }

.u-pr-35 {
    padding-right: 35px !important; }

.u-pr-40 {
    padding-right: 40px !important; }

.u-pr-45 {
    padding-right: 45px !important; }

.u-pr-50 {
    padding-right: 50px !important; }

.u-pr-55 {
    padding-right: 55px !important; }

.u-pr-60 {
    padding-right: 60px !important; }

.u-pb-0 {
    padding-bottom: 0px !important; }

.u-pb-5 {
    padding-bottom: 5px !important; }

.u-pb-10 {
    padding-bottom: 10px !important; }

.u-pb-15 {
    padding-bottom: 15px !important; }

.u-pb-20 {
    padding-bottom: 20px !important; }

.u-pb-25 {
    padding-bottom: 25px !important; }

.u-pb-30 {
    padding-bottom: 30px !important; }

.u-pb-35 {
    padding-bottom: 35px !important; }

.u-pb-40 {
    padding-bottom: 40px !important; }

.u-pb-45 {
    padding-bottom: 45px !important; }

.u-pb-50 {
    padding-bottom: 50px !important; }

.u-pb-55 {
    padding-bottom: 55px !important; }

.u-pb-60 {
    padding-bottom: 60px !important; }

.u-pl-0 {
    padding-left: 0px !important; }

.u-pl-5 {
    padding-left: 5px !important; }

.u-pl-10 {
    padding-left: 10px !important; }

.u-pl-15 {
    padding-left: 15px !important; }

.u-pl-20 {
    padding-left: 20px !important; }

.u-pl-25 {
    padding-left: 25px !important; }

.u-pl-30 {
    padding-left: 30px !important; }

.u-pl-35 {
    padding-left: 35px !important; }

.u-pl-40 {
    padding-left: 40px !important; }

.u-pl-45 {
    padding-left: 45px !important; }

.u-pl-50 {
    padding-left: 50px !important; }

.u-pl-55 {
    padding-left: 55px !important; }

.u-pl-60 {
    padding-left: 60px !important; }

.u-p-0 {
    padding: 0px !important; }

.u-p-5 {
    padding: 5px !important; }

.u-p-10 {
    padding: 10px !important; }

.u-p-15 {
    padding: 15px !important; }

.u-p-20 {
    padding: 20px !important; }

.u-p-25 {
    padding: 25px !important; }

.u-p-30 {
    padding: 30px !important; }

.u-p-35 {
    padding: 35px !important; }

.u-p-40 {
    padding: 40px !important; }

.u-p-45 {
    padding: 45px !important; }

.u-p-50 {
    padding: 50px !important; }

.u-p-55 {
    padding: 55px !important; }

.u-p-60 {
    padding: 60px !important; }

.u-text-muted {
    color: #888888 !important; }

.u-text-center {
    text-align: center !important; }

.u-text-right {
    text-align: right !important; }

.u-text-left {
    text-align: left !important; }

.u-text-muted {
    color: #98a6ad !important;
}
